body {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    color: #323232;
}

.correct {
    background-color: #4CAF50;
    color: #fff;
}

.incorrect {
    background-color: #f44336;
    color: #fff;
}

.result,
.incorrect-result {
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;
}

.result {
    background-color: #dff0d8;
    border: 1px solid #c3e6cb;
}

.incorrect-result {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}